.topic-thumbnails-list .topic-list-thumbnail {
  width: 45px;
  height: 45px;
}

.topic-thumbnails-list {
  .topic-list-body .topic-list-item {

    // Classic Discourse mobile layout
    .right {
      display: grid;
      grid-template-columns: 15% auto 15%;
      grid-template-areas: "thumbnail title replies" "thumbnail data data";
      gap: 0 0.5em;

      .num {
        text-align: right;
      }

      .topic-list-thumbnail {
        grid-area: thumbnail;
      }

      .main-link {
        grid-area: title;
        width: unset;
      }

      .topic-item-stats {
        grid-area: data;
      }

      .pull-right {
        grid-area: replies;
      }
    }

    // Horizon theme: hide extra columns on mobile in list mode
    .topic-status-data,
    .topic-category-data,
    .topic-likes-replies-data,
    .topic-creator-data,
    .topic-activity-data {
      display: none;
    }
  }
}

.topic-thumbnails-minimal {
  .topic-list-body {
    column-gap: 10px;
    row-gap: 5px;

    .topic-list-item {
      height: 150px;
      grid-template-areas: "image image image" "title title title";

      .topic-thumbnail-likes {
        display: none;
      }

      .main-link {
        padding: 0 !important;

        .link-top-line {
          color: var(--primary);
        }

        .title {
          font-size: $font-down-3;
        }
      }

      .posts-map,
      .topic-likes-replies-data {
        display: none;
      }
    }
  }
}

.topic-thumbnails-blog-style-grid {
  .topic-list-data {
    max-width: unset;
  }
}